@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Passions+Conflict&family=Shadows+Into+Light&display=swap');

/*I ADDED HOVER OVERLAY TO my sweets page.
--primary-color: #5CE1E6   ;
  --secondary-color: #03989E ;
  --accent1-color: #CB6CE6;
  --accent2-color: #F6F3EE;
  --heading-font:  Shadows Into Light, sans-serif;
  --paragraph-font: "Lemonada", Helvetica, sans-serif;*/
#content { 
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#logo_link {
    justify-self: center; 
    
}
.logo {
    width: 150px; 
}
nav a {
    text-align: center;
    background-color: #f6f3ee;
    color: #cb6ce6;
    text-decoration: none;
    padding: 35px;
}
nav {
    padding:45px;
    display: flex;
    justify-content: space-between;
    background-color: #f6f3ee    
}
nav a:hover {
    background-color: #cb6ce6;
    color: #f6f3ee;
}
a {
    padding: 25px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
body {
    background-color: #03989E;
    color: #5ce1e6;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: "Lemonada", Helvetica, sans-serif;
}
#back-msg   {
    align-self: center;
    width: 100%;
    font-size: 25px;
    grid-column:2/6;
    grid-row: 1/3;
    border: 10px solid gray;
    padding: 25px;
    margin-bottom: 100px;
    font-family: "Shadows Into Light", sans-serif;
}
back-box {
    color: gray;
}
header {
    background-color: #f6f3ee;
    color: #cb6ce6;
    display: grid;
    grid-template-columns: 150px auto;
    

}
/*#cake {
    
    grid-column: 2/3;
    grid-row: 2;
    z-index: -1;
}
.cake-card {
    text-align: center;
    border: 10px;
    color: #f6f3ee;
    grid-column: 
}*/
#starwars {
    grid-column: 7/9;
    grid-row: 1/3;
    margin-top: 50px;  
    
}
.about-me {
    background-color: #f6f3ee;
    color: #03989E;
    line-height: 2em;
    
    grid-column: 1/11;
    grid-row: 6/10;
    
    margin-top: -100px;
    padding: 100px 50px 100px 50px; 
    margin-bottom: -190px;
    z-index: -1;
}
footer{
    background-color: #f6f3ee; 
    color: #cb6ce6;
    padding: 20px 30px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}
.social{
    padding-top: 10px;
  
}
footer a{
    color: #cb6ce6;
    text-decoration: underline; 
}
footer a:hover {
    color:#f6f3ee;
    background-color: #cb6ce6;
}

/*SWEETS PAGE*/

#content2{  
    max-width: 1600px;
   background-color: white;
   
   
}  
   
.home-grid-2 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(10, 10%);
    justify-content: space-around;
   
    
}/*SWEETS AND TREATS WORDS IN WHITE*/
.home-title2 {
    background-color: #03989E;
    color: #f6f3ee;
    font-size: 2em;
    text-align: center;
    grid-column:2/5;
    grid-row: 1/2;
    border-radius: 10px;
    align-self: flex-start;
  
}
.words-grid {
    grid-row: 2/4;
    grid-column: 1/6;
    text-align: center;
    border-radius: 5px;
    margin: -95px 35px 90px 35px;
    padding: 25px;
    
    color: #cb6ce6;
    
}
.words-grid h4 {
    grid-column: 2/5;
    grid-row: 3/4;
    font-size:1.25em;
    color: #03989E;
    margin: 20px 200px 20px 200px;
}
#cupcakes-img {
    width: 150%;
    grid-column:1/3;
    grid-row:4/6;  
    margin: 100px 50px 100px 100px;
    position: relative;
}
#recipe {
    grid-column: 3/6;
    grid-row: 4/5;  
    text-align: center;  
    padding: 40px; 
    margin: 50px 25px 0 25px;
    background-color: #03989E;
     
}
#recipe h5 {
    font-size: 1.5em;
    color: black;
    margin: 0;
}


#ingredients p{
    background-color: #f6f3ee;
    grid-column: 4/5;
    grid-row: 4/5;
    font-size: .65em;
    margin: 0;
    color: #03989E;
    
}

#frosting {
    grid-column: 1/6;
    grid-row: 7/8;
    text-align: center;
    font-size: 1em;  
    padding: 40px; 
    margin: -150px 25px 0 25px;
    background-color: #03989E
}

#frosting h6 {
    font-size: 1.5em;
    color: black;
    align-self: center;
    margin: 0;
    
}
#frosting p{
    margin: 0;
    font-size: .65em;
    background-color: #f6f3ee;
 
    color: #03989E;

}

#recipe-2{
    grid-column: 1/4;
    grid-row: 9/10;
    background-color: #03989E;
    padding: 40px;
    margin:-50px 25px 0 25px;
    text-align: center;
}
#recipe-2 h2 {
    font-size: 1.5em; 
    color: black;
    margin: 0;
}
#recipe-2 p{
    margin: 0;
    font-size: .7em;
    grid-row: 9/10;
    color: #03989E;
    background-color: #f6f3ee;
}

#cupcakes2-img {
    width: 150%;
    grid-column:4/6;
    grid-row:8/10;  
    margin: 100px -50px 100px 100px;
    position: relative;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #cb6ce6;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #f6f3ee;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}